.feed-item
   h1
      margin-bottom: $d-3

   article
      ul.gallery
         list-style: none
         display: flex
         flex-wrap: wrap
         flex-direction: row

         li
            img
               display: block
               width: 100%

   @media all and (max-width: $d-12 - 1)
      article
         ul.gallery
            > li
               width: 100%
               padding-top: $d-4

   @media all and (min-width: $d-12) and (max-width: $d-13 - 1)
      article
         ul.gallery
            > li
               width: 100%
               padding-top: $d-5

   @media all and (min-width: $d-13)
      article
         display: flex
         justify-content: space-between

         ul.gallery
            padding-left: $d-5
            width: 50%
            flex: 0 0 auto

            > li
               width: 100%

               &:nth-child(n + 2)
                  padding-top: $d-5