.feed
   ul.items
      list-style: none
      display: flex
      flex-wrap: wrap
      flex-direction: row

      > li
         a
            background-position: center
            background-size: cover
            display: block
            position: relative
            cursor: pointer
            height: 100%

            &:after
               position: absolute
               top: 0
               left: 0
               width: 100%
               height: 100%
               background: transparent
               content: ""
               transition-duration: .2s

            &:hover
               &:after
                  background: transparentize(white, .80)

            *
               cursor: pointer

         &.project
            a
               h2
                  position: absolute
                  bottom: 0
                  padding: $d-7 0 ($d-4 + $d-1) ($d-4 + $d-3)
                  color: $c-6
                  background: linear-gradient(to top, rgba(0, 0, 0, .7), transparent)
                  width: 100%

         &.thought
            a
               background: desaturate(lighten($c-3, 50%), 65%)
               padding: $d-4
               color: $c-1

               &:hover
                  background: desaturate(lighten($c-3, 50%), 60%)

               h2
                  padding-bottom: $d-2

   @media all and (max-width: $d-12 - 1)
      margin-top: -$d-3

      ul.items
         padding: 0 $d-3

         > li
            width: 100%
            padding: $d-3

            &.project
               height: 70vw

   @media all and (min-width: $d-12) and (max-width: $d-13 - 1)
      margin-top: -$d-4

      ul.items
         padding: 0 $d-4

         > li
            width: 50%
            padding: $d-4

            &.project
               height: 40vw

   @media all and (min-width: $d-13)
      margin-top: -$d-4

      ul.items
         padding: 0 $d-4

         > li
            width: 33.3%
            padding: $d-4

            &.project
               height: 27vw