&.resume
   background: white
   color: black
   position: relative

   *
      user-select: auto

   .nav
      display: none

   .view
      position: relative
      overflow: inherit

      p
         margin-bottom: 0

      h3
         font: normal normal bold #{$f-s-2}/#{$f-1-l-h} $f-1

      h4
         font: normal normal 100 #{$f-s-2}/#{$f-1-l-h} $f-1
         padding: $d-1 0

      section
         &.profile, &.education, &.experience
            padding-top: $d-4

         &.experience
            > ul
               > li
                  &:nth-child(n + 2)
                     padding-top: $d-4

                  ul.bulleted
                     margin-top: $d-2

                     li
                        page-break-inside: avoid

   @media all and (max-width: $d-11 - 1)
      .view
         padding-top: $d-4

         section
            &.knowledge
               padding-top: $d-4

               ul
                  column-count: 2
                  column-gap: $d-4

   @media all and (min-width: $d-11) and (max-width: $d-12 - 1)
      .view
         padding-top: $d-4

         section
            &.knowledge
               padding-top: $d-4

               ul
                  column-count: 3
                  column-gap: $d-4

   @media all and (min-width: $d-12) and (max-width: $d-13 - 1)
      .view
         padding-top: $d-5

         .columns
            display: flex

            > *
               width: 50%

               &:first-child
                  padding-right: $d-5


               &:last-child
                  padding-left: $d-5

         section
            &.knowledge
               padding-top: $d-5

               ul
                  column-count: 2
                  column-gap: $d-3

   @media all and (min-width: $d-13) and (max-width: $d-15 - 1)
      .view
         padding-top: $d-5

         .columns
            display: flex

            > *
               width: 50%

               &:first-child
                  padding-right: $d-5


               &:last-child
                  padding-left: $d-5

         section
            &.knowledge
               padding-top: $d-5

               ul
                  column-count: 3
                  column-gap: $d-3

   @media all and (min-width: $d-15)
      .view
         padding-top: $d-5

         .columns
            display: flex

            > *
               width: 50%

               &:first-child
                  padding-right: $d-5


               &:last-child
                  padding-left: $d-5

         section
            &.knowledge
               padding-top: $d-5

               ul
                  column-count: 4
                  column-gap: $d-3

   @media print
      .view
         font-size: 12px
         padding: 0

         .content
            padding: 0

            a
               border-bottom: none

            .columns
               display: flex

               > *
                  width: 50%

                  &:first-child
                     padding-right: $d-5


                  &:last-child
                     padding-left: $d-5

            section
               &.knowledge
                  padding-top: $d-5

                  ul
                     column-count: 3
                     column-gap: $d-3
