a
   text-decoration: none

h1
   font: normal normal 100 #{$f-s-4}/#{$f-1-l-h} $f-1

h2
   font: normal normal 100 #{$f-s-3}/#{$f-1-l-h} $f-1

h3
   font: normal normal 100 #{$f-s-3}/#{$f-1-l-h} $f-1

ul
   list-style: none

   &.bulleted
      li
         padding: 0 0 0 ($d-4 - $d-1)
         text-indent: -$d-4 + $d-2

         &:before
            content: "\00B7"
            padding: 0 ($d-3 - 1) 0 0

.content
   ul, p
      margin-bottom: $d-4

      &:last-child
         margin-bottom: 0

   a
      color: $c-1
      cursor: pointer
      border-bottom: 1px solid transparentize($c-1, .8)

      &:hover
         color: $c-5
         border-bottom-color: $c-5

@media all and (max-width: $d-12 - 1)
   .content
      padding: 0 $d-4

      &:last-child
         padding-bottom: $d-4

@media all and (min-width: $d-12) and (max-width: $d-13 - 1)
   .content
      padding: 0 $d-5

      &:last-child
         padding-bottom: $d-5

@media all and (min-width: $d-13)
   .content
      padding: 0 $d-5

      &:last-child
         padding-bottom: $d-5
