.nav
   position: fixed
   top: 0
   left: 0
   width: 100%
   z-index: 1
   background: transparentize(lighten($c-1, 5%), .1)

   > ul
      display: flex
      list-style: none
      height: 100%

      > li
         a
            display: flex
            align-items: center
            cursor: pointer
            color: $c-4

            svg
               height: $d-4 + $d-3
               cursor: pointer

               path
                  fill: $c-4
                  cursor: pointer

            &:hover
               svg
                  path
                     fill: $c-6

            &:first-child
               a
                  padding-left: $d-5

            &:last-child
               a
                  padding-right: $d-5

            &:hover
               color: $c-6

   @media all and (max-width: $d-12 - 1)
      > ul
         > li
            &:first-child
               a
                  padding-left: $d-4

            &:last-child
               a
                  padding-right: $d-4

            a
               font-size: 16px
               padding: 0 $d-4 / 2
               height: $d-6

   @media all and (min-width: $d-12)
      > ul
         > li
            &:first-child
               a
                  padding-left: $d-5

            &:last-child
               a
                  padding-right: $d-5

            a
               font-size: 18px
               padding: 0 $d-5 / 2
               height: $d-7
