.views
   flex: 1 1 auto
   position: relative
   height: 100%

   .view
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      overflow: auto
      -webkit-overflow-scrolling: touch

   @import "views/home"
   @import "views/feed"
   @import "views/feed-item"

@import "views/resume"

@media all and (max-width: $d-12 - 1)
   .view
      padding-top: $d-6 + $d-4 - $d-2

@media all and (min-width: $d-12)
   .view
      padding-top: $d-8 - $d-2