@font-face {
   font-family: "Tofino";
   src: url("./tofino/tofino-100.woff") format("woff");
   font-style: normal;
   font-weight: 100;
}

@font-face {
   font-family: "Tofino";
   src: url("./tofino/tofino-200.woff") format("woff");
   font-style: normal;
   font-weight: 200;
}

@font-face {
   font-family: "Tofino";
   src: url("./tofino/tofino-300.woff") format("woff");
   font-style: normal;
   font-weight: 300;
}

@font-face {
   font-family: "Tofino";
   src: url("./tofino/tofino-400.woff") format("woff");
   font-style: normal;
   font-weight: 400;
}

@font-face {
   font-family: "Tofino";
   src: url("./tofino/tofino-500.woff") format("woff");
   font-style: normal;
   font-weight: 500;
}

@font-face {
   font-family: "Tofino";
   src: url("./tofino/tofino-600.woff") format("woff");
   font-style: normal;
   font-weight: 600;
}

@font-face {
   font-family: "Tofino";
   src: url("./tofino/tofino-800.woff") format("woff");
   font-style: normal;
   font-weight: 800;
}

@font-face {
   font-family: "Tofino";
   src: url("./tofino/tofino-900.woff") format("woff");
   font-style: normal;
   font-weight: 900;
}