*
   box-sizing: border-box
   border: 0
   margin: 0
   padding: 0
   user-select: none
   cursor: default
   word-wrap: break-word

::selection
   background: rgba($c-1, .5)

.app
   font: normal normal 300 #{$f-s-2}/#{$f-1-l-h} $f-1
   position: fixed
   top: 0
   left: 0
   width: 100%
   height: 100%
   color: $c-1
   background: $c-4

   @import "app/modules"
   @import "app/nav"
   @import "app/views"
